<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="customNetTcpBinding" maxBufferSize="2000000000"
                    maxReceivedMessageSize="2000000000" transferMode="Streamed">
                    <readerQuotas maxDepth="32" maxStringContentLength="2000000000"
                        maxArrayLength="2000000000" maxBytesPerRead="2000000000" />
                </binding>
            </netTcpBinding>
        </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="NewBehavior0">
                    <serviceMetadata httpGetEnabled="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="NewBehavior0" name="WCFLargeFileAPI.FileUploadService">
                <endpoint address="" binding="netTcpBinding" bindingConfiguration="customNetTcpBinding"
                    contract="Interfaces.IFileUpload" />
                <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration=""
                    contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://localhost:7891" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>